html {
    margin: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    height: 100vh;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    justify-content: center;
    height: 100px;
    width: auto;
}

header a {
    color: white;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    background-color: darkblue;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    bottom: 0; 
}
